.myfooter{
    background-color: rgb(28, 206, 206);
    border-radius: 5px;
    margin-top: 20rem;
    display: flex;
    justify-content:space-around;
    .fsection{
        flex: 1;
        padding: 0 10px;
    }

    ul li{
        list-style-type: none;
        padding: 5px;
        margin-left: -25px;
    }
   
}